.game-container {
  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.game-top-right {
  position: absolute;
  color: rgb(167, 167, 167);
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
}

.prompt-section {
  position: absolute;

  min-width: 200px;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  text-align: center;
  font-size: 14px;
  border-color: transparent;
  color: black;

  background-color: #ffff85f7;
  padding: 20px;
  border-radius: 10px;
  border-color: transparent;
}

.prompt-section__title {
  font-size: 25px;
  font-weight: bold;
}

.prompt-section__score {
  padding-top: 5px;
  font-size: 16px;
}

.game-slot {
  flex: 1 0;

  background-size: cover;
  background-position: center center;
}

.game-slot__mask {
  background-color: rgba(50, 50, 50, 0.89);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: #ffffff;
  font-weight: bold;
}

.product-info-roof {
  flex: 3 2;
}

.product-info-upper {
  flex: 1 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.product-info__title {
  font-size: 38px;
  max-width: 350px;
  text-align: center;
  padding-bottom: 10px;

  text-overflow: clip;
  /* word-wrap: normal; */
  word-break: break-word;
}

.product-info-lower {
  min-height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding-top: 10px;
}

.product-info__price,
.product-info__price--dummy {
  font-size: 24px;
  padding-bottom: 15px;
  /* color: #6bd2ff; */
  color: rgb(254, 202, 91);
  transition: 0.025s all linear;
}
.product-info__price--dummy {
  transition: none;
  color: transparent;
}
.product-info__price--higher {
  color: rgb(113, 254, 91);
}

.product-info__button {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .product-info-lower {
    min-height: 35%;
  }
  .prompt-section {
    padding: 20px;
  }
  .product-info-upper > * {
    font-size: 30px;
  }
  .prompt-section {
    top: 100px;
  }
}

@media only screen and (max-width: 400px) {
  .product-info-lower {
    min-height: 33%;
  }
  .leaderboard-table__date {
    font-size: 10px;
  }
  .product-info-upper > * {
    font-size: 26px;
  }
}
