/* @import (reference) "~antd/lib/style/themes/default.css"; */

.game-container {
  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.prompt-section {
  position: absolute;

  left: 50%;
  top: 30px;
  transform: translate(-50%, 0%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  text-align: center;
  font-size: 14px;
  border-color: transparent;
  color: black;

  background-color: yellow;
  padding: 15px;
  border-radius: 10px;
  border-color: transparent;
}

.prompt-section__title {
  font-size: 25px;
  font-weight: bold;
}

.prompt-section__score {
  padding-top: 5px;
  font-size: 14px;
}

.game-slot {
  flex: 1 0;

  background-size: cover;
  background-position: center center;
}

.game-slot__mask {
  background-color: rgba(50, 50, 50, 0.85);
  height: 100%;
  width: 100%;
}

.product-info {
  color: #ffffff;
  font-weight: bold;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-info__title {
  font-size: 34px;
  max-width: 325px;
  text-align: center;
  padding-bottom: 10px;

  text-overflow: clip;
  word-wrap: normal;
}
.product-info__price {
  font-size: 22px;
  padding-bottom: 10px;
}

.product-info__button-wrapper {
  display: flex;
  justify-content: center;
}

.product-info__button {
  bottom: 150px;

  position: absolute;
}
