/* @import (reference) "~antd/lib/style/themes/default.css"; */

.game-container {
  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.prompt-box {
  position: absolute;

  left: 50%;
  top: 75px;
  transform: translate(-50%, 0%);

  text-align: right;
  font-size: 14px;
  background-color: yellow;
  padding: 15px;
  border-radius: 10px;
  border-color: transparent;
}
.prompt-box__title {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.game-slot {
  flex-grow: 1;
  /* border: 1px solid yellow; */

  background-size: cover;
  background-position: center center;
}

.game-slot__mask {
  background-color: rgba(50, 50, 50, 0.85);
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.game-slot-background__image {
  height: 100%;
}

.product-info {
  padding: 30px;

  color: #ffffff;

  display: flex;
  flex-direction: column;

  width: 300px;
  /* align-items: center; */
  justify-content: center;
}

.product-info__title {
  font-size: 32px;
  font-weight: bold;

  padding-bottom: 10px;
}
.product-info__price {
  font-size: 18px;
  font-weight: bold;

  padding-bottom: 10px;
}
.product-info__button {
  position: absolute;

  font-size: 16px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  bottom: 20px;

  border-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
