.game-lost-page {
  display: flex;
  flex: 1 0;

  background-size: cover;
  background-position: center center;
}

.game-lost-page__mask {
  background-color: rgba(50, 50, 50, 0.9);
  flex: 1 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-size: 18px;
  color: white;
}

.game-lost-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  text-align: center;
}

.game-lost-prompt__message {
  font-size: 34px;
  font-weight: bold;
}
.game-lost-prompt__score {
  font-size: 18px;
  padding: 10px 0 0 0;
}

.play-again-button-wrapper {
  padding: 20px 0 0 0;
}

.play-again-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.name-collection {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-collection__prompt {
  padding-bottom: 7px;
  font-size: 16px;
}
.name-collection__entry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-collection__input {
  width: 100px;
  padding: 0 5px;
  height: 18px;
  font-size: 14px;
  margin-right: 5px;
}

.name-collection__button-wrapper {
  height: 18px;
}
.name-collection__button {
  width: unset;
  height: 100%;
  padding: 0px 5px;
  font-size: 14px;
  border-radius: 3px;
}
